<div class="main-container">
    <div>
        <img src="assets/logo.png" alt="">
    </div>
    <div class="link-container">
        <a href="">Hombre</a>
        <a href="">Mujer</a>
        <a href="">Ropa de trabajo</a>
    </div>
    <div>
        <form>
            <div class="search">
                <span class="search-icon material-symbols-outlined">
                    search
                </span>
                <input type="search" class="search-input">
            </div>
        </form>
    </div>
</div>
<div class="mobile-container">
    <div>
        <a href="home">
            <img src="assets/logo.png" alt="">
        </a>
    </div>
    <div class="icon-menu" #menuIcon id="mobile-icon">
        <span class="material-symbols-outlined" (click)="openMenu()">
            menu
        </span>
    </div>
</div>
<div class="noShow" id="mobile-menu" #menu>
    <div class="menu-container">
        <div class="logo">
            <a href="">
                <img src="assets/logo.png" alt="">
            </a>
        </div>
        <div class="link" (click)="displayData()">
            <p>Hombre</p>
            <span class="material-symbols-outlined right">
                chevron_right
            </span>
        </div>
        <div class="noShow" id="displayData">
            <a href="/pantalon">Pantalon</a>
            <a href="/calzado">Calzado</a>
            <a href="/campera">Campera</a>
            <a href="/buzo">Buzo</a>
            <a href="/remera">Remera</a>
        </div>
        <div class="link">
            <p>Mujer</p>
            <span class="material-symbols-outlined right">
                chevron_right
            </span>
        </div>
        <div class="link">
            <p>Ropa de trabajo</p>
            <span class="material-symbols-outlined right">
                chevron_right
            </span>
        </div>

    </div>
</div>
<div class="info">
    <p>Actualmente las compras online estan deshabilitadas</p>
</div>