<div class="main-container">
    <div>
        <img src="assets/logo.png" alt="">
    </div>
    <div class="link-container">
        <a href="">Hombre</a>
        <a href="">Mujer</a>
        <a href="">Ropa de trabajo</a>
    </div>
    <div>
        <form>
            <div class="search">
                <span class="search-icon material-symbols-outlined">
                    search
                </span>
                <input type="search" class="search-input">
            </div>
        </form>
    </div>
</div>
<div class="mobile-container">
    <div>
        <a href="home">
            <img src="assets/logo.png" alt="">
        </a>
    </div>
    <div class="icon-menu" #menu>
        <span class="material-symbols-outlined" (click)="openMenu()">
            menu
        </span>
    </div>
</div>
<div class="noShow" id="mobile-menu" #menu>
    <div class="menu-container">
        <div class="logo">
            <a href="">
                <img src="assets/logo.png" alt="">
            </a>
        </div>
        <a href="">Hombre</a>
        <a href="">Mujer</a>
        <a href="">Ropa de trabajo</a>

    </div>
</div>