.main-container{
    display: flex;
    justify-content: space-around;
    background-color: #ffbd59;
    .contact{
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        a{
            margin-left: 8px;
            margin-bottom: 4px;
            margin-top: 4px;
            text-decoration: none;
            color: #000;
        }
        .cel{
            display: flex;
            align-items: center;
            p{
                margin-left: 8px;
            }
        }
    }
    .location{
        display: flex;
        margin-top: 48px;
        p{
            margin: 0;
        }
        div{
            display: flex;
            a{
                text-align: center;
                text-decoration: none;
                color: #000;
                margin-right: 8px;
            }
        }
    }
}