@if (tipo!="Calzado") {
    <a (click)="addIdToUrl()">
        <div class="main-container">
            <div class="card-container">
                <div class="image-container">
                    <img src="{{imgUrl}}" alt="">
                </div>
                <div class="description">
                    <h2>{{desc}}</h2>
                </div>
            </div>
        </div>
    </a>
}@else {
    <a (click)="addIdToUrl()">
        <div class="main-container">
            <div class="card-container">
                <div class="image-container">
                    <img src="{{imgUrl}}" alt="" class="img-calzado">
                </div>
                <div class="description">
                    <h2>{{desc}}</h2>
                </div>
            </div>
        </div>
    </a>
}