a{
  text-decoration: none;
  color: #000;
}
.main-container{
  display: flex;
  width: 150px;
  justify-content: center;
  cursor: pointer;
  .card-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    margin: 12px;
    .image-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img{
        width: 100%;
        height: 150px;
        object-fit: contain;
      }
      .img-calzado{
        width: 100%;
        height: 150px;
      }
    }
    .description{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      h2{
        font-family: Poppins, roboto, noto, segoe ui, arial, sans-serif;
        font-size: 16px;
        font-weight: 100;
        padding-left: 12px;
      }
      h3{
        margin-top: 6px;
        margin-bottom: 12px;
        padding-left: 12px;
        font-size: 12px;
        font-weight: 600;
        text-align: left;
      }
    }
    .button{
      margin-bottom: 6px;
    }
  }
}
  
  
  
  
  
  
  
  
  
  
  
  .button {
    --width: 150px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #30ff48;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }

  @media only screen and (min-width: 600px) {
    
    .main-container{
      width: 220px;
      .card-container{

        .image-container{
          img{
            height: 220px;
          }
        }
      }
    }
  
  }

  @media only screen and (min-width: 1024px) {
    
    .main-container{
      width: 330px;
      .card-container{

        .image-container{
          img{
            height: 330px;
          }
        }
      }
    }
  
  }