<div class="hero">
    <img src="assets/hero2.jpg" alt="">
</div>
<div class="heroD">
    <img src="assets/herod.png" alt="">
</div>
<div class="carousel-container">
    <div class="carousel">
        <span class="material-symbols-outlined" (click)="changePageBack()">
            arrow_back_ios
        </span>
        <div class="carousel-item">
            @if (load) {
                <app-card class="card" imgUrl="{{urlArray[first]}}" wspUrl="{{descArray[first]}}" desc="{{ubArray[first]}}" id="{{userData[first].id}}" tipo="pantalon"></app-card>
                <app-card class="card" imgUrl="{{urlArray[second]}}" wspUrl="{{descArray[second]}}" desc="{{ubArray[second]}}" id="{{userData[second].id}}" tipo="pantalon"></app-card>
                <app-card class="card" imgUrl="{{urlArray[third]}}" wspUrl="{{descArray[third]}}" desc="{{ubArray[third]}}" id="{{userData[third].id}}" tipo="pantalon"></app-card>
                <app-card class="card" imgUrl="{{urlArray[fourth]}}" wspUrl="{{descArray[fourth]}}" desc="{{ubArray[fourth]}}" id="{{userData[fourth].id}}" tipo="pantalon"></app-card>
                <app-card class="card" imgUrl="{{urlArray[fifth]}}" wspUrl="{{descArray[fifth]}}" desc="{{ubArray[fifth]}}" id="{{userData[fifth].id}}" tipo="pantalon"></app-card>
                <app-card class="card" imgUrl="{{urlArray[sixth]}}" wspUrl="{{descArray[sixth]}}" desc="{{ubArray[sixth]}}" id="{{userData[sixth].id}}" tipo="pantalon"></app-card>
            }
        </div>
        <span class="material-symbols-outlined" (click)="changePage()">
            arrow_forward_ios
        </span>
    </div>
</div>