.hero{
  width: 100%;
  img{
    width: 100%;
  }
}
.carousel-container {
    overflow: hidden;
    width: 100%;
   
  }
  
  .carousel {
    display: flex;
    position: relative;
    transition: transform 0.3s ease-out;
  }
  
  .carousel-item-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-item-desktop{
    display: none;
  }

span{
  width: 40px;
  height: 40px;
  position: absolute;
  color: #000;
  top: 40%;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  cursor: pointer; 
}
span:first-child{
  left: -10px;
}
span:last-child{
  right: -10px;
}

  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    position: absolute;
    top: 20%;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper svg {
    fill: green;
  }
  
  .wrapper span:hover,
  .wrapper svg:hover,
  .wrapper .black:hover,
  .wrapper .black:hover .tooltip,
  .wrapper .black:hover .tooltip::before {
    background: #222;
    color: white;
    fill: white;
  }
  




  @media only screen and (min-width: 1024px) {
  
    .carousel-item-desktop{
      display: flex;
    }

    
    .carousel-item-mobile{
      display: none;
    }
  }